body {
    background: url("dice.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: large;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

div {
    background-color: #D3DEDC;
    width: 50%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    border: 5px solid black;
}

h1 {
    margin: auto;
}

table {
    margin: auto;
}

button,
input {
    border-radius: 20px;
}

input {
    width: 30%;
    font-size: large;
}

#dice{
    width: 9%;
    margin-left: 25px;
}

button {
    margin-left: -60px;
    font-size: medium;
}
